<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNWE Преглед на програмата</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Добре дошли в разписанието на УНСС</h1>
            <p>Прегледайте вашето учебно разписание лесно</p>
        </header>
        
        <main class="main-home">
            <button onclick="window.location.href='/table'">Преглед на програмата</button>
        </main>

        <footer>
            <p>© 2025 УНСС София | Всички права запазени</p>
        </footer>
    </div>
</body>
</html>
